# Changes here will be overwritten by Copier
_commit: {{ _copier_conf.vcs_ref }}
_src_path: {{ _copier_conf.src_path }}
app_port: {{ app_port }}
author_email: {{ author_email }}
author_name: {{ author_name }}
description: {{ description }}
github_org: {{ github_org }}
include_postgres: {{ include_postgres }}
include_redis: {{ include_redis }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
python_version: "{{ python_version }}"
